@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-text {
  min-width: max-content;
  max-width: max-content;
}